
@import "./Style.scss";

$card-width: '250px';

.highlight {
    color: red;
}

.max-80 {
    max-width: 80%;
}

.card-text {
    font-size: 10pt;
    line-height: normal;
}
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.qualifiers {
    margin-left: 50px;
}

.wiki-image {
    box-sizing: border-box;
    width: 248px;
    height: 337px;
    object-fit: cover;
}

.carousel-images {
    width: 250px;
    height: 337px;
}

.card-image {
    width: 100%;
    height: 337px;
    object-fit: cover;
}

.link-card {
    width: 250px;
    height: 450px;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;

    img.commons-image {
        border: 0;
    }
}
.section-label {
    text-decoration: underline;
}

.info-icon {
    margin-left: 3px;
    margin-top: -3px;
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    :hover {
        color: rgba(var(--bs-link-hover-color-rgb), var(--bs-link-hover-opacity, 1));
    }
}

.link-card:hover {
    border-color: $color;
}

ul.compact-list {
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.compact-list li {
    line-height: 1rem;
    margin-bottom: 5pt;
}


div.map-view {
    margin-top: 8px;
    width: 250px;
    height: 275px;
}

div.uv-wrapper {
    width: 100%;
    aspect-ratio: 1.9;
}

.uv-iframe {
    width:100%;
    height:100%;
    flex-grow: 1; border: none; margin: 0; padding: 0;
}

.uv-content {
    background-color: black;
    color: white;
    margin-top: 0;
    .btn-default {
        color: white !important;
    }
}

.video-content {
    max-width: 100%;
    video {

        max-width: 100%;
    }
}

.map-tooltip {
    strong {
        text-transform: capitalize;
    }
    white-space: normal !important;
    width: 100px;
}

#fullmap {
    margin-top:20px;
    width: 100%;
    aspect-ratio: 1.9;
    .map-tooltip {
        width: fit-content;

        white-space: nowrap;
        line-height: normal;

        font-size: 1.2em;
    }
    .leaflet-tooltip {
        width: fit-content
    }
    .leaflet-popup {
        width: 455px;
        .map-tooltip {
            width: 450px;
            padding-right: 10px;
        }
    }
    .map-tooltip strong {
        font-size: 1.4em;
    }
    .map-property {
        font-weight: bold;
    }
}

.site-title {
    font-size: 1.5em;
}

.markdown {

    table, td, th {
        border: 1px solid #888;
    }
    td, th {
        padding: 0 10px;
    }

    table {
        border-collapse: collapse;
    }
}

.status-removed {
    display: none;
}

.properties-info {
    display: none;
}

.show-properties {

    .properties-info {
        display: block;
        font-weight: bold;
        a {
            margin-top: -6px
        }
    }

}

.show-changes {
    .status-new {
        border: 4px solid green;
    }

    .status-updated {
        border: 4px solid blue;
    }

    .status-removed {
        border: 4px solid red;
        display: block;
    }
}

.publications {
    div {
        line-height: 1.3em;
        padding-top: 0.5em;
    }
    .info-icon {
        margin-top: -5px;
    }
}

.qual-label {
    text-transform: capitalize;
    font-style: italic;
}

#fullmap {
}